body {
	margin: 0;
	padding: 0;
	border-top: 0;
	background-color: #ffd1dc;
}

#app {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
}

#app h1 {
	text-align: center;
	padding: 200px 0;
	font-family: 'Comic Sans MS';	
}